
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
	text-align: center;
}
a{
	color: #fefefe;
	background-color: #3d59c6;
	text-decoration: none;
}

div {
	width: 25%;
	position: fixed;
	margin: 5px;
	padding: 5px;
	border-style: solid;
	border-width: 5px;
}
/* Here is one of many  CSS rules you will need... */
#one {
	border-color: blue;
    bottom: 0;
    right: 0;
}
#two {
	border-color: green;
    right: 0;
    top: 0;
}
#three {
	width: 25%;
	border-color: orange;
    top: 0;
    left: 0;
}
#four {
	border-color: yellow;
    left: 0;
    bottom: 0;
}